.container {
  max-width: 710px;
  padding: 3.56rem 4rem;
  background-color: var(--blue-300);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: .62rem;
}
.container textarea {
  width: 100%;
  height: 10rem;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.notaFiscal input {
  width: 5rem;
}
.nfRequisicao {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.buttonsAvtions {
  display: flex;
  justify-content: space-between;
}
.labelDescrição {
  text-align: left;
  width: 100%;
  margin-bottom: -0.7rem;
}