.container {
  display: flex;
  width: 692px;
  border-radius: .62rem;
  background-color: var(--blue-300);

  box-shadow: 2px 5px 15px var(--blue-500);
}
.logoSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2.37rem;
  border-radius: .62rem;
  background-color: var(--blue-500);
}
.logoSpace h1 {
  font-size: 3.75rem;
  margin-bottom: 1.5rem;
}
.iconScr {
  display: flex;
}
.srcIcon {
  font-size: 1.25rem;
  text-align: left;
}
.loginSpace {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 2.37rem;
}
.loginSpace input {
  width: 100%;
  border: none;
  border-radius: .2rem;
  height: 1.8rem;
  padding: 0 .62rem;

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.loginSpace input:focus {
  border: none;
  outline: none;
}
.loginSpace p {
  margin-top: 1rem;
}
.titleLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .62rem;
}
.titleLogin h3 {
  font-size: 1.87rem;
}
.inputsLogin {
  text-align: left;
}
.buttonAction {
  display: flex;
  justify-content: center;
}
.buttonAction a {
  text-decoration: none;
}