.buttonHomeAndExit {
  position: relative;
  right: -130%;
  /* top: 16%; */
  display: flex;
  gap: .62rem;
}
.homeButton a, .exitButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  border: 2px solid var(--white-100);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  background-color: var(--white-100);
  padding: .2rem .62rem;
  border-radius: .5rem;
  cursor: pointer;

  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}
.homeButton span, .exitButton span {
  display: flex;
  /* align-items: center; */
}
.homeButton a {
  color: var(--blue-300);
}
.exitButton a {
  color: var(--red-100);
}
.homeButton a:hover {
  color: var(--white-100);
  background-color: var(--blue-300);
}
.exitButton a:hover {
  color: var(--white-100);
  background-color: var(--red-100);

}