@keyframes Opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}
.background {
  animation-name: Opacity;
  animation-duration: 1s;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--green-100);
}
.concluded {
  display: flex;
  align-items: center;

  gap: .5rem;
}
.concluded h1 {
  font-size: 4rem;
}
.agradecimento p {
  font-size: 1.5rem;
  font-weight: 400;
  
  color: var(--blue-500);
}
