.headerLayer {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  margin-bottom: 2.31rem;
}
.headerLayer span {
  display: flex;
  align-items: center;
}
.headerLayer h1 {
  font-size: 2rem;
}