.titleLayer {
  display: flex;
  align-items:flex-end;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.titleHeader {
  position: absolute;
}
.titleHeader h1{
  font-size: 3.75rem;
  font-weight: 700;

  margin-bottom: .6rem;
}
.titleHeader p {
  font-size: .93rem;
  font-weight: 400;
}