* {
  --grey-300: #535353;
  --grey-200: #AEB7C2;
  --blue-500: #2B333E;
  --blue-300: #1167AD;
  --blue-200: #337AB7;
  --blue-translucent: #174164;
  --blue-ligth: #00AAFF;
  --red-100: #E4010B;
  --white-100: #F5F5FA;
  --yellow-100: #FED501;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;

  color: var(--white-100);
  background-color: var(--blue-translucent);
}

body {
  display: flex;
  height: 100vh;
  /* min-height: 100vh; */
  place-items: center;
}

button {
  color: var(--white-100);
  background-color: var(--blue-300);
  border: 2px solid var(--white-100);
  border-radius: .62rem;

  padding: .62rem;

  font-size: 1em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  /* transition: border-color 0.25s; */
}
button:hover {
  background-color: var(--blue-200);
}
input,
select,
select option,
textarea {
  color: var(--blue-500);

  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  font-weight: 700;

  border: none;
  border-radius: .2rem;
  height: 1.8rem;
  padding: 0 .62rem;
}
input:focus, select:focus, textarea:focus {
  outline: none;
 }
 textarea {
  resize: none;
  padding: .62rem;
 }